<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>values</key>
		<array/>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>RAFormTextSelectionCell</string>
		<key>title</key>
		<string>Credit Card</string>
		<key>property</key>
		<string>cardType</string>
	</dict>
	<dict>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Your card number should be 16 digits long</string>
		<key>validation</key>
		<string>^([0-9]{16})$</string>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>title</key>
		<string>Card Number</string>
		<key>property</key>
		<string>cardNumber</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypePhonePad</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>RAFormSwitchCell</string>
		<key>title</key>
		<string>Save</string>
		<key>property</key>
		<string>saved</string>
	</dict>
	<dict>
		<key>values</key>
		<array/>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>RAFormTextSelectionCell</string>
		<key>title</key>
		<string>Title</string>
		<key>property</key>
		<string>title</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^[\S]*$</string>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Your first name must not contain spaces</string>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>title</key>
		<string>First Name</string>
		<key>property</key>
		<string>firstName</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>title</key>
		<string>Last Name</string>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Required</string>
		<key>property</key>
		<string>lastName</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>title</key>
		<string>Address Line 1</string>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Required</string>
		<key>property</key>
		<string>addressLine1</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>validation</key>
		<string>^.{0,255}$</string>
		<key>title</key>
		<string>Address Line 2</string>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>property</key>
		<string>addressLine2</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeSentences</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>error</key>
		<string>Your password must be at least 6 characters</string>
		<key>validation</key>
		<string>^.{6,}$</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>RAFormSecureTextEntryCell</string>
		<key>title</key>
		<string>Password</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeDefault</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>error</key>
		<string>Not a valid email address</string>
		<key>validation</key>
		<string>^(.+)@(.+)$</string>
		<key>required</key>
		<true/>
		<key>cellIdentifier</key>
		<string>RAFormTextEntryCell</string>
		<key>title</key>
		<string>Email</string>
		<key>keyboardType</key>
		<string>UIKeyboardTypeEmailAddress</string>
		<key>autoCapitalizeType</key>
		<string>UITextAutocapitalizationTypeNone</string>
		<key>autoCorrectStyle</key>
		<string>UITextAutocorrectionTypeNo</string>
	</dict>
	<dict>
		<key>values</key>
		<array/>
		<key>title</key>
		<string>Country</string>
		<key>cellIdentifier</key>
		<string>RAFormTextSelectionCell</string>
		<key>required</key>
		<true/>
		<key>error</key>
		<string>Please select your country.</string>
		<key>property</key>
		<string>country</string>
	</dict>
</array>
</plist>
